li, .dropdown{
    margin-right: 6%;
}
.nav-link{
    color: white!important;
    text-decoration: none;
}
.nav-link.active {
    color: #fdbe33!important;
    text-decoration: none;
    transition: none;
}
.carousel img {
    width: 100%!important;
    height: 100%;
    object-fit: contain;
}
.carousel .carousel-caption {
    display: flex;
    position: absolute;
    top: 18%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 170px)!important;
    min-height: 400px;
}
.carousel .carousel-caption p {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.carousel .carousel-caption h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 35px;
}
.carousel .carousel-caption .btn {
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0;
    transition: .3s;
}
.carousel .carousel-caption .btn:hover{
    background-color: #030f27!important;
    border-color: #030f27!important;
    color: #ffffff!important;
}